apiVersion: v2
name: codedx
version: 1.4.2
appVersion: "5.2.2"
description: A Helm chart for Code Dx
icon: https://codedx.com/wp-content/uploads/2017/03/CodeDx-logo.png
home: https://github.com/codedx/codedx-kubernetes
keywords:
- codedx
- security
- sast
- scan
- analysis
sources:
- https://hub.docker.com/r/codedx/codedx-tomcat
- https://hub.docker.com/_/tomcat/
- https://hub.docker.com/r/bitnami/mariadb
dependencies:
- name: mariadb
  version: 7.3.15
  repository: https://codedx.github.io/codedx-kubernetes
  condition: mariadb.enabled
maintainers:
- name: tylercamp
  email: support@codedx.com
- name: ssalas
  email: support@codedx.com
