apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "codedx-tool-orchestration.fullname" . | quote }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "codedx-tool-orchestration.commonLabels" . | nindent 4 }}
    component: service
spec:
  strategy:
{{ toYaml (required "deploymentStrategy is required" .Values.deploymentStrategy) | indent 4 }}
  replicas: {{ required "numReplicas is required" .Values.numReplicas }}
  selector:
    matchLabels:
      app: {{ include "codedx-tool-orchestration.name" . | quote }}
      release: {{ .Release.Name | quote }}
      component: service
  template:
    metadata:
      labels:
        {{- include "codedx-tool-orchestration.commonLabels" . | nindent 8 }}
        component: service
    spec:
      {{- if .Values.toolServiceImagePullSecrets }}
      imagePullSecrets:
      {{- toYaml .Values.toolServiceImagePullSecrets | nindent 6 }}
      {{- end }}
      serviceAccountName: {{ include "codedx-tool-orchestration.serviceAccountName" . | quote }}
      serviceAccount: {{ include "codedx-tool-orchestration.serviceAccountName" . | quote }}
      securityContext:
        fsGroup: 1000
        runAsUser: 1000
      {{- if .Values.nodeSelectors }}
      nodeSelector:
      {{- toYaml .Values.nodeSelectors | trim | nindent 8 }}
      {{- end }}
      {{- if .Values.tolerations }}
      tolerations:
      {{- toYaml .Values.tolerations | trim | nindent 8 }}
      {{- end }}
      containers:
      - name: tool-service
        image: {{ .Values.toolServiceImageName | quote }}
        imagePullPolicy: Always
        resources:
          {{- toYaml .Values.resources | trim | nindent 10 }}
        command: ["/opt/codedx/service/bin/service"]
        args: ["-adminApiKeyPath", "/opt/codedx/service/secrets/adminApiKey",
          "-codeDxBaseUrl", "{{ required "codedxBaseUrl is required" .Values.codedxBaseUrl }}",
          "-codeDxCaConfigMapName", "{{ .Values.codedxTls.caConfigMap }}",
          "-imageNameCodeDxTools", "{{ required "imageNameCodeDxTools is required" .Values.imageNameCodeDxTools }}",
          "-imageNameCodeDxToolsMono", "{{ required "imageNameCodeDxToolsMono is required" .Values.imageNameCodeDxToolsMono }}",
          "-imageNamePrepare", "{{ required "imageNamePrepare is required" .Values.imageNamePrepare }}",
          "-imageNameNewAnalysis", "{{ required "imageNameNewAnalysis is required" .Values.imageNameNewAnalysis }}",
          "-imageNameSendErrorResults", "{{ required "imageNameSendErrorResults is required" .Values.imageNameSendErrorResults }}",
          "-imageNameSendResults", "{{ required "imageNameSendResults is required" .Values.imageNameSendResults }}",
          "-imagePullSecretKey", "{{ .Values.imagePullSecretKey }}",
          "-kubernetesNamespace", "{{ .Release.Namespace }}",
          "-logFile", "/opt/codedx/service/logs/service.log",
          "-logMaxSizeMB", "{{ .Values.logs.maxSizeMB }}",
          "-logMaxBackups", "{{ .Values.logs.maxBackups }}",
          "-minimumWorkflowStepRunTime", "{{ .Values.minimumWorkflowStepRunTimeSeconds }}",
          "-minioAdminClientPath", "/opt/codedx/service/tools/mc",
          "-minioAdminPasswordPath", "/opt/codedx/service/secrets/minioAdminPassword",
          "-minioAdminUsernamePath", "/opt/codedx/service/secrets/minioAdminUsername",
          "-minioEndpoint", "{{ template "minio.ref.fullname" . }}.{{ .Release.Namespace }}.svc.cluster.local:{{.Values.minio.service.port}}",
          {{ if .Values.minio.tls.enabled -}}
          "-minioTlsEnabled",
          {{ if .Values.minioTlsTrust.configMapName -}}
          "-minioTlsConfigMapName", "{{ .Values.minioTlsTrust.configMapName }}",
          "-minioTlsConfigMapPublicCertName", "{{ .Values.minioTlsTrust.configMapPublicCertKeyName }}",
          {{ end -}}
          {{ end -}}
          "-port", "{{ required "toolServicePort is required" .Values.toolServicePort }}",
          "-serviceName", "{{ .Release.Name }}",
          {{ if .Values.toolServiceTls.secret -}}
          "-serviceTlsCertPath", "/opt/codedx/service/tls/{{ .Values.toolServiceTls.certFile }}",
          "-serviceTlsKeyPath", "/opt/codedx/service/tls/{{ .Values.toolServiceTls.keyFile }}",
          {{ end -}}
          "-workDir", "/opt/codedx/service/work",
          "-workflowPriorityClassName", {{ include "codedx-tool-orchestration.workflow.priorityClassName" . | quote }},
          "-workflowRoleNames", {{ include "codedx-tool-orchestration.workflow.role.name" . }}]
        readinessProbe:
          httpGet:
            port: 3333
            path: /ready
          {{- if .Values.toolServiceTls.secret }}
            scheme: HTTPS
          {{- end }}
          initialDelaySeconds: 20
          periodSeconds: 60
          failureThreshold: 4
          timeoutSeconds: 30
        livenessProbe:
          httpGet:
            port: 3333
            path: /alive
          {{- if .Values.toolServiceTls.secret }}
            scheme: HTTPS
          {{- end }}
          initialDelaySeconds: 120
          periodSeconds: 60
          failureThreshold: 4
          timeoutSeconds: 30
        volumeMounts:
        - name: tool-service-secret-volume
          mountPath: "/opt/codedx/service/secrets/adminApiKey"
          readOnly: true
          subPath: adminApiKey
        - name: minio-secret-volume
          mountPath: "/opt/codedx/service/secrets/minioAdminUsername"
          readOnly: true
          subPath: minioAdminUsername
        - name: minio-secret-volume
          mountPath: "/opt/codedx/service/secrets/minioAdminPassword"
          readOnly: true
          subPath: minioAdminPassword
        {{ if and .Values.minio.tls.enabled .Values.minioTlsTrust.configMapName -}}
        - name: minio-cert-volume
          mountPath: /etc/ssl/certs/cdx-minio.pem
          subPath: cdx-minio.pem
          readOnly: true
        {{ end -}}
        {{ if .Values.toolServiceTls.secret -}}
        - name: tool-service-tls-volume
          mountPath: "/opt/codedx/service/tls"
        {{ end -}}
        ports:
        - containerPort: 3333
          name: http
      priorityClassName: {{ include "codedx-tool-orchestration.service.priorityClassName" . | quote }}
      volumes:
      - name: tool-service-secret-volume
        secret:
          secretName: {{ .Values.existingSecret | quote }}
          items:
          - key: api-key
            path: adminApiKey
      - name: minio-secret-volume
        secret:
          secretName: {{ .Values.minio.global.minio.existingSecret | quote }}
          items:
          - key: access-key
            path: minioAdminUsername
          - key: secret-key
            path: minioAdminPassword
      {{ if and .Values.minio.tls.enabled .Values.minioTlsTrust.configMapName -}}
      - name: minio-cert-volume
        configMap:
          name: {{ .Values.minioTlsTrust.configMapName }}
          items:
            - key: {{ .Values.minioTlsTrust.configMapPublicCertKeyName }}
              path: cdx-minio.pem
      {{ end -}}
      {{ if .Values.toolServiceTls.secret -}}
      - name: tool-service-tls-volume
        secret:
          secretName: {{ .Values.toolServiceTls.secret }}
      {{ end -}}
      - name: logs
        emptyDir: {}
