{{- if .Values.networkPolicy.codedx.create -}}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "codedx.netpolicy.name" . | quote}}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "codedx.commonLabels" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      app: {{ include "codedx.name" . }}
      release: {{ .Release.Name | quote }}
      component: frontend
  egress:
  {{- if .Values.mariadb.enabled }}
  - to:
    - podSelector:
        matchLabels:
          app: mariadb
          release: {{ .Release.Name | quote }}
    ports:
    - port: 3306
  {{ else }}
  - ports:
    - port: 3306    
  {{ end -}}  
  - ports:
    {{- include "netpolicy.dns.ports" . | nindent 4 -}}
  {{- if .Values.networkPolicy.codedx.ldap }}
  # LDAP
  - ports:
    - port: 389
      protocol: TCP
    - port: 389
      protocol: UDP
  {{ end -}}
  {{- if .Values.networkPolicy.codedx.ldaps }}
  # LDAPS
  - ports:
    - port: 636
      protocol: TCP
    - port: 636
      protocol: UDP
    - port: 3269
      protocol: TCP
    - port: 3269
      protocol: UDP
  {{ end -}}
  {{- if or .Values.networkPolicy.codedx.http .Values.networkPolicy.codedx.dependencyCheck }}
  # HTTP
  - ports:
    - port: 80
  {{ end -}}
  {{- if or .Values.networkPolicy.codedx.https .Values.networkPolicy.codedx.dependencyCheck }}
  # HTTPS
  - ports:
    - port: 443
  {{ end }}
  {{- if .Values.networkPolicy.codedx.toolService }}
  # Tool orchestration service
  - ports:
    - port: 3333
    {{- if .Values.networkPolicy.codedx.toolServiceSelectors }}
    to:
{{ toYaml .Values.networkPolicy.codedx.toolServiceSelectors | indent 4 -}}
    {{- end }}
  {{- end }}
  ingress:
  - ports:
    {{- if .Values.codedxTls.enabled }}
    - port: 8443
    {{- else }}
    - port: 8080
    {{- end }}
    {{- if .Values.networkPolicy.codedx.ingressSelectors }}
    from:
{{ toYaml .Values.networkPolicy.codedx.ingressSelectors | indent 4 -}}
    {{- end }}
  - ports:
    {{- if .Values.codedxTls.enabled }}
    - port: 8443
    {{- else }}
    - port: 8080
    {{- end }}
    {{- if .Values.networkPolicy.codedx.toolServiceSelectors }}
    from:
{{ toYaml .Values.networkPolicy.codedx.toolServiceSelectors | indent 4 }}
    {{- end -}}
  {{ end -}}
